Django==1.7.1
EasyProcess==0.1.6
PyVirtualDisplay==0.1.5
Pygments==2.0.1
argparse==1.2.1
django-crispy-forms==1.4.0
django-debug-toolbar==1.2.2
django-extensions==1.4.8
django-pdb==0.4.1
django-secure==1.0.1
django-waffle==0.10.1
fancycompleter==0.4
flake8==2.2.5
mccabe==0.2.1
pdbpp==0.7.2
pep8==1.5.7
psycopg2==2.5.4
pyflakes==0.8.1
pyrepl==0.8.4
python-dateutil==2.3
selenium==2.44.0
six==1.8.0
sqlparse==0.1.14
swingtix-bookkeeper==0.0.1.1
wmctrl==0.1
wsgiref==0.1.2
