{% extends "base.html" %}
{% load i18n %}

{% block content %}
<a href="{% url 'membaman:index' %}">Membaman Home Page</a>|
<a href="{% url 'fees:feesindex' %}">Fees Home Page</a>|
<a href="{% url 'members:membersindex' %}">Members Home Page</a>|
<h2>Fees Home Page</h2>

<ol>
    <li><a href="{% url 'fees:income-list' %}">Income List</a></li>
    <li><a href="{% url 'fees:income-list-subyear' %}">Income List - Subyear</a></li>
    <li><a href="{% url 'membaman:index' %}">Membaman Home Page</a></li>
</ol>

{% endblock %}
